.container {
  width: 90%;
}

form {
  display: flex;
  align-items: center;
  width: 100%;
}

form  h1 {
  margin: 20px;
}

input.form-control {
  display: inherit;
  margin: 0 10px;
  width: 200px;
}
.memo_container {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}
.memo_container > div {
  min-width: 200px;
  width: auto;
  margin: 10px;
  transition: height 0.5s;
}
.memo_container > div a {
  margin:3px;
}
.memo_container div .options {
  height: 0px;
  margin: 2px 10px;
  opacity:0;
  transition: all 0.5s;
}
.memo_container div .options  hr {
  margin: 5px 0px;
}
.memo_container div:hover .options {
  height: auto;
  opacity: 1;
}
